{{#if showFor}}
  {{#if showHere}}
    {{#if featuredTagTopics}}
      <div class="custom-homepage-wrapper">
        <div class="custom-homepage">
          <div class={{concat-class "featured-topic-wrapper" mobileStyle}}>
            {{showTitle}}
            <div class="featured-topics">
              {{#each featuredTagTopics as |t|}}
                <div class="featured-topic">
                  <div
                    class="featured-topic-image"
                    style={{html-safe
                      (concat "background-image: url(" t.image_url ")")
                    }}
                  >
                    {{! template-lint-disable no-invalid-link-text }}
                    <a
                      href="/t/{{t.slug}}/{{t.id}}/{{t.last_read_post_number}}"
                    ></a>
                  </div>
                  <h3>
                    {{topic-link t}}
                  </h3>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
{{/if}}